[Unit]
Description=Label Printer Server

[Container]
Image=ghcr.io/control-alt-repeat/label-printer/server:latest
Name=label-printer-server
EnvironmentFile=/etc/default/aws-env
AddDevice=/dev/bus/usb:/dev/bus/usb
Detach=true
Cleanup=true

[Install]
WantedBy=multi-user.target default.target