[Unit]
Description=Run the label-printer-server container with podman-compose
After=network.target

[Service]
Restart=always
EnvironmentFile=/etc/default/aws-env
WorkingDirectory=/home/control-alt-repeat/label-printer
ExecStart=/usr/bin/podman-compose up -d
ExecStop=/usr/bin/podman-compose down
ExecStopPost=/usr/bin/podman rm -f label-printer-server

[Install]
WantedBy=multi-user.target
